---
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="Short Url">
  {
    session ? (
      <p class="text-white">Bienvenido {session.user?.name}</p>
    ) : (
      <p class="text-white">No ha iniciado sesi贸n</p>
    )
  }
  <main>
    <button id="loginGitHub">Iniciar sesi贸n con GitHub</button>
    <button id="loginGoogle">Iniciar sesi贸n con Google</button>
    <button id="logout">Cerrar sesi贸n</button>

    <script>
      const { signIn, signOut } = await import("auth-astro/client");
      
      const loginGitHub = document.querySelector("#loginGitHub");
      const loginGoogle = document.querySelector("#loginGoogle");
      const logout = document.querySelector("#logout");
      
      if (loginGitHub instanceof HTMLButtonElement) {
        loginGitHub.onclick = () => signIn("github");
      }
      if (loginGoogle instanceof HTMLButtonElement) {
        loginGoogle.onclick = () => signIn("google");
      }
      if (logout instanceof HTMLButtonElement) {
        logout.onclick = () => signOut();
      }
    </script>
  </main>
</Layout>
